<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cementerio</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/cementerio.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="../home">Tamagotchi</a>
    <div class="ms-auto">
        <a class="navbar-brand" href="../cerrar-sesion">Cerrar sesión!</a>
    </div>
</nav>
<audio id="audio-player" autoplay loop>
    <source th:src="@{/audio/cementerio.mp3}" type="audio/mpeg">
</audio>
<main role="main" class="container text-center">
    <div id="cementerio-box">
        <h1 class="titulo">Aquí descansa tu mascota</h1>

        <div class="tumba-container">
            <img src="../img/tumba.png" alt="Tumba" class="tumba-img">
            <div class="nombre-tumba" th:text="${mascota.nombre}"></div>
            <img th:src="@{'/img/' + ${mascota.tipo} + '.png'}" alt="Pet" class="pet-image"/>
        </div>

        <h3>"Genio y figura hasta la sepultura."</h3>

        <form action="../home">
            <button type="submit" class="btn-custom">VOLVER AL HOGAR</button>
        </form>
    </div>
</main>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/musica.js}"></script>

</body>
</html>