<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="../home">Tamagotchi</a>
    <div class="ms-auto">
        <a class="navbar-brand" href="../cerrar-sesion">Cerrar sesión!</a>
    </div>
</nav>

<main role="main" class="container">
    <div class="container">
        <h2 th:text="'Nombre: ' + ${mascota.nombre}"></h2><br>
        <div class="bar-container">
            <div class="bar energy">
                <img class="icon" th:src="@{/img/energy.png}"/>
                <div class="bar-fill" id="valor-energia" style="color: #000000; font-weight: bold;"
                     th:text=" ${mascota.energia} + '%'"></div>
            </div>
            <div class="bar happiness">
                <img class="icon" th:src="@{/img/happiness.png}"/>
                <div class="bar-fill" id="valor-felicidad" style="color: #000000; font-weight: bold;"
                     th:text=" ${mascota.felicidad} + '%'"></div>
            </div>
        </div>

        <div class="pet-container">
            <div class="pet">
                <img th:src="@{/img/capybara.png}" alt="Pet" class="pet-image"/>
            </div>
            <!--
          <h2 th:text="'Salud: ' + ${mascota.salud} "></h2><br>
          <h2 th:text="'Esta vivo?: ' + ${mascota.estaVivo}"></h2>-->


            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
        </div>

        <div class="bar-container">
            <div class="bar hunger">
                <img class="icon" th:src="@{/img/hunger.png}"/>
                <div class="bar-fill" id=valor-hambre style="color: #000000; font-weight: bold;"
                     th:text=" ${mascota.hambre} + '%'"></div>

            </div>
            <div class="bar cleanliness">
                <img class="icon" th:src="@{/img/cleanliness.png}"/>
                <div class="bar-fill" id="valor-higiene" style="color: #000000; font-weight: bold;"
                     th:text=" ${mascota.higiene} + '%'"></div>

            </div>
        </div>

        <div class="button-container">
            <input name="id" type="hidden" th:value="${mascota.id}">
            <button class="button" onclick="jugar()">
                <img class="icon" th:src="@{/img/game-black.png}"/>
            </button>


            <form action="/ruta2" method="post">
                <button class="button">
                    <img class="icon" th:src="@{/img/medicine-black.png}"/>
                </button>
            </form>


            <input name="id" type="hidden" th:value="${mascota.id}">
            <button class="button" onclick="limpiarMascota()">
                <img class="icon" th:src="@{/img/bath-black.png}"/>
            </button>

            <input name="id" type="hidden" th:value="${mascota.id}">
            <button class="button" onclick="dormirMascota()">
                <img class="icon" th:src="@{/img/lightOn-black.png}"/>
            </button>

            <input name="id" type="hidden" id="mascota-id" th:value="${mascota.id}">
            <button class="button" onclick="alimentarMascota()">
                <img class="icon" th:src="@{/img/food-black.png}"/>
            </button>


        </div>
    </div>
</main>

<!-- Bootstrap core js -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<!-- WEBSOCKET -->
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>


</body>

</html>