<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/registro.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Tamagotchi</a>
</nav>

<main role="main" class="container">

    <div id="loginbox">
        <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
            <h3>REGISTRARSE</h3>
            <hr>

            <input th:field="*{email}" id="email" class="form-control" placeholder="email" required/>
            <input th:field="*{password}" type="password" id="password" class="form-control" placeholder="contraseña"
                   required/>
            <input th:field="*{nombre}" type="text" id="nombre" class="form-control" placeholder="nombre" required/>

            <button id="btn-registrarme" type="Submit">REGISTRARME</button>
            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
        <a id="ir-a-loguearse" href="login">LOGIN</a>
    </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>